/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    margin: 1.3rem;
    color: antiquewhite;
    background-color: #1f1f24;
}