/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    margin: 1.3rem;
    color: antiquewhite;
    background-color: #1f1f24;
    font-family: "Hind Siliguri", sans-serif;
}

h2,
h3 {
    font-family: "Niconne", cursive;
}

/* Header */
/* Navbar */
.header-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid antiquewhite;
    font-size: 1.25rem;
}

.header-navbar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-navbar li {
    margin: 0.62rem;
    list-style-type: none;
}

.header-navbar a {
    color: antiquewhite;
}

#logo {
    margin-left: 0.4rem;
}

/* Navbar button */
.join-us-button {
    padding: 0.3rem 0.62rem;
    margin-right: 0.4rem;
    background-color: antiquewhite;
    border-radius: 4px;
    transition: background-color 0.5s;
}

.join-us-button a {
    color: #1f1f24;
    font-size: 1.1rem;
    transition: color 0.5s;
}

.join-us-button:hover {
    background-color: #1f1f24;
}

.join-us-button a:hover {
    color: antiquewhite;
}

/* Footer */
.social-networks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid antiquewhite;
    font-size: 1.25rem;
}

.social-networks ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-networks li {
    margin: 0.62rem;
    list-style-type: none;
}

.social-networks a {
    color: antiquewhite;
}

#paragraph-contact {
    margin-left: 0.4rem;
}

footer .join-us-button a {
    color: #1f1f24;
}